
<!-- Material form subscription -->
<div class="card" style="width: 70%; margin: 0 auto;">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Новая марка</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="POST">

            <!-- Mark -->
            <div class="md-form mt-3">
                <input type="text" id="materialSubscriptionFormPasswords" class="form-control" name="mark">
                <label for="materialSubscriptionFormPasswords">Введите название марки</label>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Добавить</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form subscription -->