
<!-- Material form subscription -->
<div class="card" style="width: 70%; margin: 0 auto;">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Новый автомобиль</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" method="POST">

            {{!-- <p>Join our mailing list. We write rarely, but only the best content.</p>

            <p>
                <a href="" target="_blank">See the last newsletter</a>
            </p> --}}

            <!-- Mark -->
            <div class="md-form mt-3" style="text-align: left;">
                <span>Марка</span>
                <select class="mdb-select" name="mark" id="marks">                
                    <option value="" selected disabled>Выберите марку авто...</option>
                    {{#each marks}}
                    <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                {{!-- {{#if pageData.mark}}
                    <script>
                        document.querySelector('#marks [value="' + {{pageData.mark}} +'"]').selected = true
                    </script>
                {{/if}} --}}
            </div>

            <!-- Model -->
            <div class="md-form mt-3">
                <input type="text" id="materialSubscriptionFormPasswords" class="form-control" name="model">
                <label for="materialSubscriptionFormPasswords">Модель</label>
            </div>

            <!-- YearProduct -->
            <div class="md-form">
                <input type="number" id="materialSubscriptionFormPasswords" class="form-control" name="yearProduct">
                <label for="materialSubscriptionFormPasswords">Год производства</label>
            </div>

            <!-- Color -->
            <div class="md-form mt-3">
                <input type="text" id="materialSubscriptionFormPasswords" class="form-control" name="color">
                <label for="materialSubscriptionFormPasswords">Цвет</label>
            </div>

            <!-- Price -->
            <div class="md-form mt-3">
                <input type="number" id="materialSubscriptionFormPasswords" class="form-control" name="price">
                <label for="materialSubscriptionFormPasswords">Стоимость, $</label>
            </div>

            <!-- Picture Path -->
            <div class="md-form mt-3">
                <input type="text" id="materialSubscriptionFormPasswords" class="form-control" name="pictUrl" value="{{car.pictUrl}}">
                <label for="materialSubscriptionFormPasswords">Путь к картинке</label>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Добавить</button>

        </form>
        <!-- Form -->

    </div>

</div>
<!-- Material form subscription -->

{{#if error}}
<script>
    alert('Проверьте вводимые данные в поля!')
</script>
{{/if}}