
<!-- Material form subscription -->
<div class="card" style="width: 70%; margin: 0 auto;">

    <h4 class="card-header info-color white-text text-center py-4">
        <strong>Предупреждение</strong>
    </h4>

    <!--Card content-->
    <div class="card-body px-lg-5 text-center">
        <h5 class="card-title">Вы действительно хотите удалить данный автомобиль?</h5>
        <form action="" method="POST">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="submit" class="btn btn-danger" name="btnAction" value="yes">Да</button>
                <button type="submit" class="btn btn-info" name="btnAction" value="no">Нет</button>
            </div>
        </form>

    </div>

</div>
<!-- Material form subscription -->