{{!-- <h1>Что-то пошло не так, проверьте правильность во всех полях</h1> --}}
<script>
    alert('Что-то пошло не так, проверьте правильность во всех полях!')
    window.location.replace('/')
</script>